.Flipper button {
  display: block;
  background-color: rgb(29, 155, 164);
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
}
.Flipper button:active,
.Flipper button.flipping {
  box-shadow: 1px 1px 1px rgb(17, 97, 103);
}
